:host {
  display: block;

  padding: 10px;
}


.text{
	width:100%;
	min-height:200px;
	margin:10px 0px;
}

.box{
	background-color:var(--app-primary-color);
	color:white;
	border-radius:3px;
	border-color:none;
}

.box::placeholder{
	color:white;
}

.question{
	min-height:100px;
	width:100%;
	margin:10px 0px;
}

.ask{
	width:100%;
	height:50px;
	margin:10px 0px;
	background-color:#EC407A;
	border-color:none;
	outline:none;
	color:white;
	border-radius:3px;
}

.card{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}